.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: azure;
}

.modal-header {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.create-button {
  margin-left: 1em;
  width: 20em;
  font-weight: 800;
  font-size: large;
}

#search-input {
  float: right;
  margin-right: 1em;
  max-width: 10em;
}

#sort-button {
  margin-right: 1em;
  margin-bottom: 1em;
  float: right;
  width: 10em;
}

.update-button, .delete-button {
  margin-top: 5%;
}

th, td {
  text-align: center;
  line-height: 50px;
}

#note-nav, #category-nav {

  text-align: center;
}

.options-column {
  width: 7em;
}

.category-table {
  max-width: 30em;
  height: auto;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

.form-input {
  max-width: 30%;
}

.modal-body{
  margin-left: 3em;
}